<h1>Here is a List of Today's Surgeries</h1>
<h2>Count: <%= @surgeries.count %> </h2>
<p>Room Number - Patient:</p>
<ol>
    <% @surgeries.each do |surgery| %>
        <li>
            <%=link_to surgery.room.number, surgery_path(surgery)%> - <%=surgery.patient.name%>
        </li>
    <%end%>
    </li>
</ol>

<%=link_to "New Surgery", "/surgeries/new", method: "post" %>






